* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* div 전체 설정 */
.box {
  position: relative;
  width: 400px;
  height: 600px;
  margin: 10px;
  background: #000;
}
/* 전체 div들의 img 크기 위치 설정 */
.box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* pixel화 시킬 이미지 */
.box.pixel img {
  /* 이미지 랜더를 픽셀드 하여 픽셀이 눈으로 보이게 한다. 구분선이 명확하지 않음 */
  image-rendering: pixelated;
  /* 선명도를 높게 */
  filter: contrast(1.4);
}
/* 픽셀구분선들을 명확하게 하기 위한 설정 */
.box.pixel::before {
  content: "";
  /* 절대값으로 하여 이미지 위해서 생성되게 한다. */
  position: absolute;
  width: 100%;
  height: 100%;
  /* 이미지 보다 위에 생성 되게 한다. */
  z-index: 100;
  /* 반복선형그라데이션을 적용하여 그림의 픽셀 구분선 역활을 한다. */
  background: repeating-linear-gradient(
      /* 그라데이션 방향 */ 0deg,
      /* 상단 그라데이션 색상 크기 */ #0006 0%,
      /* 하단 그라데이션 색상 크기 */ #0006 6%,
      /* 부모 색상을 따름 */ transparent 4%,
      transparent 96%,
      /* 얉게 만든 그라데이션의 색상 차지 비율을 설정 */ #0006 96%,
      #0006 100% /* 구분선처럼 된다. */
    ),
    repeating-linear-gradient(
      /* 방향만 바꿈 */ 90deg,
      #0006 0%,
      #0006 4%,
      transparent 4%,
      transparent 96%,
      #0006 96%,
      #0006 100%
    );
  /* 상단에 노출된 그라데이션을 없애기 위해 그림 크기 조절 */
  background-size: 10px 10px;
}
